<template>
  <!-- Section: Design Block -->
  <Section class="background-radial-gradient overflow-hidden">
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg- align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1 class="my-5 display-5 fw-bold ls-tight">
            <span style="color: hsl(218, 81%, 75%)"
              >Deposit Withdraw <br />Transfer money 💸</span
            >
          </h1>
          <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
            Are you ready to take your business to the next level with CLICKNEXT
          </p>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div
            id="radius-shape-1"
            class="position-absolute rounded-circle shadow-5-strong"
          ></div>
          <div
            id="radius-shape-2"
            class="position-absolute shadow-5-strong"
          ></div>

          <div class="card bg-glass text-sm-start text-lg-start">
            <div class="card-body px-4 py-5 px-md-5">
              <h1
                class="my-5 display-3 fw-bold ls-tight"
                style="color: hsl(218, 81%, 95%)"
              >
                ClickNext Bank <br />
              </h1>
              <b-form-group
                id="input-group-1"
                class="m-2"
                style="color: white"
                label="Email:"
                label-form="input-1"
              >
                <b-form-input
                  id="input-1"
                  class="p-2"
                  type="email"
                  placeholder="Please enter email"
                  required
                >
                </b-form-input>
              </b-form-group>
              <b-form-group
                id="input-grop-1"
                class="m-2"
                style="color: white"
                label="Password:"
                label-form="input-1"
              >
                <b-form-input
                  id="input-2"
                  class="p-2"
                  type="password"
                  placeholder="Please enter password"
                  required
                >
                </b-form-input>
              </b-form-group>
              <div class="p-2 d-flex align-items-center my-5">
                <router-link to="/home"
                  ><b-button pill variant="outline-primary">
                    Login ▶️
                  </b-button></router-link
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Section>
</template>

<script>
export default {
  data () {
    return {
      emptyFields: false,
      form: {
        email: 'admin@gmail.com',
        password: '12345'
      }
    }
  }
}
</script>
<style>
.background-radial-gradient {
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(
      650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    ),
    radial-gradient(
      1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    );
}

#radius-shape-1 {
  height: 220px;
  width: 220px;
  top: -60px;
  left: -130px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

#radius-shape-2 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: -60px;
  right: -110px;
  width: 300px;
  height: 300px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

.bg-glass {
  background-color: hsla(0, 0%, 40%, 0.4) !important;
  backdrop-filter: saturate(200%) blur(10px);
}
</style>
